.reveal section img {
  border: 0;
  box-shadow: none;
}

.reveal p {
  font-size: 24px
}

.reveal h3 {
  font-size: 80px
}

.reveal .slides p {
    text-align: left;
}
.reveal .slides section>* {
    margin-left: 0;
    margin-right: 0;
}
