/* images */
.reveal section img {
  border: 0;
  box-shadow: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* adjust body text */
.reveal p {
  text-align: left;
  font-size: 30px;
  margin-left: 0;
  margin-right: 0;
}

/* unordered lists */
.reveal ul {
  display: block;
  text-align: left;
  font-size: 26px;
  list-style: none;
}

/* tables */
.reveal table {
  display: block;
  text-align: center;
  font-size: 26px;
  margin-left: auto;
  margin-right: auto;
}

/* code */
.reveal code {
  display: block;
  text-align: left;
  font-size: 26px;
}

/* slide headers */
h3 {
  font-size: 26pt;
}

/* custom class for references to images */
.image_footer {
  position: fixed;
  text-align: center;
  bottom: 0px;
  width: 100%;
  font-size: 20px;
}
