/* images */
.reveal section img {
  border: 0;
  box-shadow: none;
}

/* adjust body text */
.reveal p {
  text-align: left;
  font-size: 30px;
  margin-left: 0;
  margin-right: 0;
}

/* unordered lists */
.reveal ul {
  display: block;
  text-align: left;
  font-size: 26px;
  list-style: none;
}

/*  */
h3 {
  font-size: 32px;
}

.image_footer {
  position: fixed;
  text-align: center;
  bottom: 0px;
  width: 100%;
}
