/* images */
.reveal section img {
  border: 0;
  box-shadow: none;
}

/* adjust body text */
.reveal p {
  text-align: left;
  font-size: 30px;
  margin-left: 0;
  margin-right: 0;
}

/* unordered lists */
.reveal ul {
  display: block;
  font-size: 28px;
}

/* unordered lists */
h3 {
  font-size: 34px;
}
